#market {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    #market {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}

#market-card {
    object-fit: cover;
}